@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-capitalize text-black">Welcome to our Pizza Shop</h1>
    <br />
    <h2>Whatever is in your mind, we will get it to you :)</h2>
    <br />
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />

    <a class="btn btn-primary mt-4" asp-area="" asp-page="Checkout/ThankYou">Can i get it ?</a>
</div>
